.clase{
    height: 130px;
    background-image: url("../pages/imagenespages/joyería-oro-40521659.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .clase11{
        margin-left: 22%;
        height: 130px;
        width: 1200px;
        background-color: rgba(5, 7, 12, 0.40);
      .clase12{
        display: block;
        justify-content: center;
        margin-top: 71px;
        margin-left: 25px;
        font-size: 22px;
        color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'
        , 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    }
}
